
.titulo {
    color: #ffffff;
    background-color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 25px;
}

.carta {
    width: 150px;
    left: 100px;
    position: relative;
    margin-left: -75px;
}


#computadora-cartas,jugador-cartas{
height: 240px;
}